# env
.env
.env.*
*.env

# venv
.venv/
venv/

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# ide
.vscode/
.idea/

# outputs
downloads/
artifacts/

# os
.DS_Store

# node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/
